Exercicio OOP (E1)/E1/bin
Exercicio OOP (E2)/Criptografia/Criptografia/.vs/ProjectEvaluation/criptografia.metadata.v7.bin
Exercicio OOP (E2)/Criptografia/Criptografia/.vs/ProjectEvaluation/criptografia.projects.v7.bin
Exercicio OOP (E2)/Criptografia/Criptografia/bin/Debug/net8.0/Criptografia.deps.json
Exercicio OOP (E2)/Criptografia/Criptografia/bin/Debug/net8.0/Criptografia.dll
Exercicio OOP (E2)/Criptografia/Criptografia/bin/Debug/net8.0/Criptografia.exe
Exercicio OOP (E2)/Consultorio/.vs/
Exercicio OOP (E2)/Consultorio/obj/
Exercicio OOP (E2)/Criptografia/Criptografia/.vs/

